<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="">

    <meta charset="UTF-8">
    <title>app</title>
    <!--<script type='../../resources/js/requirebase.js'></script>-->
    <script src="../../webapp/resources/js/react.js"></script>
    <script src="../../webapp/resources/js/react-with-addons.js"></script>
    <script src="../../webapp/resources/js/react-dom.js"></script>

    <!-- Data main is de basis js, van hieruit begint alles -->
   <script data-main="../../resources/js/test.js" src="../../webapp/resources/bower_components/requirejs/require.js"></script>


</head>
<body>
<div id="canvas_for_test" align="center">
    <script type="text/jsx"></script>
  <!--  Test
  //  <canvas id="myCanvas" style="border:1px thick" width="500" height="500"></canvas> -->
</div>



</body>
</html>