<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/DeviceTestApp.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:include="navbar :: page"></div>

    <div class="page-header" style="margin-top: 7%">
        <h1 id="containers" align="center">Create Test</h1>
    </div>

    <div style="margin-top: 3%">
        <form th:action="@{/test/createTest}" action="/test/createTest" method="POST" commandName="createTestForm" >
            <fieldset>
                <div class="row well bs-component">
                    <div class="row form-group">
                        <div class='col-sm-6'>
                            <label for="Title">Title:</label>
                            <input class="form-control" type="text" name="Title" placeholder="insert the title here" id="Title"/>
                        </div>

                        <div class='col-sm-6'>
                            <label for="input_device">Input Device:</label>
                            <input class="form-control" type="text" name="Device" placeholder="insert the device here" id="input_device"/>
                        </div>

                        <div class='col-sm-6' style="margin-top: 1%">
                            <label for="number_of_targets">Number of Targets:</label>
                            <select  class="form-control" type="text" name="Targets" id="number_of_targets" placeholder="">
                                <span class="input-group-btn">
                                    <option th:value="10">10</option>
                                    <option th:value="20">20</option>
                                </span>
                            </select>
                        </div>

                        <div class='col-sm-6' style="margin-top: 1%">
                            <label for="Number_of_Sequences">Number of Sequences</label>
                            <select  class="form-control" type="text" name="Sequences" id="Number_of_Sequences" placeholder="">
                                <span class="input-group-btn">
                                    <option th:value="1">1</option>
                                    <option th:value="2">2</option>
                                    <option th:value="3">3</option>
                                    <option th:value="4">4</option>
                                </span>
                            </select>
                        </div>

                        <div class='col-sm-6' style="margin-top: 1%">
                            <label for="Target_Amplitude_min">Target Amplitude min:</label>
                            <input type="text" name="AmplitudeMin" id="Target_Amplitude_min" placeholder="insert min amplitude  here" class="form-control"/>
                        </div>

                        <div class='col-sm-6' style="margin-top: 1%">
                            <label for="Target_Amplitude_max">Target Amplitude max:</label>
                            <input type="text" name="AmplitudeMax" placeholder="insert max amplitude here" id="Target_Amplitude_max" class="form-control"/>
                        </div>

                        <div class='col-sm-6' style="margin-top: 1%">
                            <label for="Target_width_min">Target width min:</label>
                            <input type="text" name="WidthMin" placeholder="insert min target width here" id="Target_width_min" class="form-control"/>
                        </div>

                        <div class='col-sm-6' style="margin-top: 1%">
                            <label for="Target_width_max">Target width max:</label>
                            <input type="text" name="WidthMax" id="Target_width_max" placeholder="insert max target width here" class="form-control"/>
                        </div>

                        <div class='col-sm-6' style="margin-top: 1%">
                            <label for="Color_main_circle">Color main circle:</label>
                            <input type="color" name="ColorMain" placeholder="kleur" id="Color_main_circle" class="form-control"/>
                        </div>

                        <div class='col-sm-6' style="margin-top: 1%">
                            <label for="Color_targets">Color targets:</label>
                            <input type="color" name="ColorTargets" id="Color_targets" placeholder="kleur" class="form-control"/>
                        </div>

                        <div class='col-sm-6' style="margin-top: 1%">
                            <label for="Color_next_target">Color next target:</label>
                            <input type="color" name="ColorNext" placeholder="kleur" id="Color_next_target" class="form-control"/>
                        </div>

                        <div class='col-sm-6' style="margin-top: 1%">
                            <label for="Color_previous_target">color clicked target:</label>
                            <input type="color" name="ColorPrevious" id="Color_previous_target" placeholder="kleur" class="form-control"/>
                        </div>

                        <div class='col-sm-6' style="margin-top: 1%">
                            <label for="color_missed_target">color missed target:</label>
                            <input type="color" name="ColorMissed" id="color_missed_target" placeholder="kleur" class="form-control"/>
                        </div>

                        <div class='col-sm-6' style="margin-top: 1%">
                            <label for="Error_Threshold">Error Threshold:</label>
                            <select  class="form-control" type="text" name="errorThreshold" id="Error_Threshold" placeholder="Error Threshold">
                                <span class="input-group-btn">
                                    <option th:value="10">10</option>
                                    <option th:value="20">20</option>
                                    <option th:value="30">30</option>
                                    <option th:value="40">40</option>
                                    <option th:value="50">50</option>
                                    <option th:value="60">60</option>
                                    <option th:value="70">70</option>
                                    <option th:value="80">80</option>
                                    <option th:value="90">90</option>
                                    <option th:value="100">100</option>
                                </span>
                            </select>
                        </div>

                        <div class='col-sm-6' style="margin-top: 1%">
                            <label for="Difficulty">Difficulty:</label>
                            <select  class="form-control" type="text" name="Difficulty" id="Difficulty" placeholder="Difficulty">
                                <span class="input-group-btn">
                                    <option th:value="1">1</option>
                                    <option th:value="2">2</option>
                                    <option th:value="3">3</option>
                                    <option th:value="4">4</option>
                                </span>
                            </select>
                        </div>


                    </div>

                    <input type="submit" value="CreateTest"  class="btn btn-primary control-label"/>
                </div>
            </fieldset>
        </form>
    </div>


    <!--<div style="margin-top: 3%">
        <form th:action="@{/test/createTest}" action="/test/createTest" method="POST" commandName="createTestForm" >
            <fieldset>
                <div class="row well bs-component">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <label for="participant_code">Participant Code:</label>
                                <input class="form-control" type="text" name="Code" placeholder="participantCode" id="participant_code" />
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <label for="input_device">Input Device:</label>
                                <input class="form-control" type="text" name="Device" placeholder="inputDevice" id="input_device" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label for="number_of_targets">Number of Targets:</label>
                                <select id="number_of_targets" name="Targets" class="form-control">
                                    <option th:value="Waarde5">5</option>
                                    <option th:value="Waarde7">7</option>
                                    <option th:value="Waarde9">9</option>
                                    <option th:value="Waarde11">11</option>
                                    <option th:value="Waarde13">13</option>
                                    <option th:value="Waarde15">15</option>
                                    <option th:value="Waarde17">17</option>
                                    <option th:value="Waarde19">19</option>
                                    <option th:value="Waarde21">21</option>
                                </select>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label for="Number_of_Sequences">Number of Sequences:</label>
                                <select id="Number_of_Sequences" name="Sequences" class="form-control">
                                    <option th:value="Waarde1">1</option>
                                    <option th:value="Waarde2">2</option>
                                    <option th:value="Waarde3">3</option>
                                    <option th:value="Waarde4">4</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label for="Difficulty">Difficulty</label>
                                <select id="Difficulty" class="form-control">
                                    <option th:value="Waarde1">1</option>
                                    <option th:value="Waarde2">2</option>
                                    <option th:value="Waarde3">3</option>
                                    <option th:value="Waarde4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label for="Error_Threshold:">Error Threshold:</label>
                                <select id="Error_Threshold:" class="form-control">
                                    <option th:value="Waarde10">10</option>
                                    <option th:value="Waarde20">20</option>
                                    <option th:value="Waarde30">30</option>
                                    <option th:value="Waarde40">40</option>
                                    <option th:value="Waarde50">50</option>
                                    <option th:value="Waarde60">60</option>
                                    <option th:value="Waarde70">70</option>
                                    <option th:value="Waarde80">80</option>
                                    <option th:value="Waarde90">90</option>
                                    <option th:value="Waarde100">100</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label for="Target_Amplitude_min">Target Amplitude min:</label>
                                <input type="text" name="AmplitudeMin" id="Target_Amplitude_min" placeholder="Min circle diameter" class="form-control"/>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <label for="Target_Amplitude_max">Target Amplitude max:</label>
                            <input type="text" name="WidthMax" placeholder="Max circle diameter" id="Target_Amplitude_max" class="form-control" />
                        </div>
                    </div>

                    <div class="row">
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label for="Target_width_min">Target width min:</label>
                                <input type="text" name="WidthMin" placeholder="Width min" id="Target_width_min" class="form-control" />
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <label for="Target_width_max">Target width max:</label>
                            <input type="text" name="WidthMax" id="Target_width_max" placeholder="Width max" class="form-control"/>
                        </div>
                    </div>


                    <div class="row">
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label for="Color_main_circle">Color main circle:</label>
                                <input type="color" name="ColorMain" placeholder="kleur" id="Color_main_circle" class="form-control" />
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <label for="Color_targets">Color targets:</label>
                            <input type="color" name="ColorTargets" id="Color_targets" placeholder="kleur" class="form-control"/>
                        </div>
                    </div>


                    <div class="row">
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label for="Color_next_target">Color next target:</label>
                                <input type="color" name="ColorNext" placeholder="kleur" id="Color_next_target" class="form-control" />
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <label for="Color_previous_target">Color previous target:</label>
                            <input type="color" name="ColorPrevious" id="Color_previous_target" placeholder="kleur" class="form-control"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <label for="email">Send this test to:</label>
                                <input class="form-control" type="text" name="email" placeholder="insert patient's email here" id="email" />
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="CreateTest"  class="btn btn-primary control-label"/>
                </div>
            </fieldset>
        </form>
    </div>-->
</div>


</body>
</html>