<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/DeviceTestApp.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:include="navbar :: page"></div>

    <div class="page-header" style="margin-top: 7%">
        <h1 id="containers" align="center">Create Test</h1>
    </div>

        <div style="margin-top: 3%">
            <form th:action="@{/test/createTest}" action="/test/createTest" method="POST" commandName="createTestForm" >
                <fieldset>
                        <div class="row well bs-component">
                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <label for="title">Title:</label>
                                        <input class="form-control" type="text" name="Title" placeholder="Insert the title here" id="title" />
                                    </div>
                                </div>
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <label for="input_device">Input Device:</label>
                                        <input class="form-control" type="text" name="Device" placeholder="Insert the device here" id="input_device" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class='form-group'>
                                        <label for="number_of_targets">Number of Targets:</label>
                                        <select id="number_of_targets" name="Targets" class="form-control">
                                            <option th:value="Waarde5">5</option>
                                            <option th:value="Waarde7">7</option>
                                            <option th:value="Waarde9">9</option>
                                            <option th:value="Waarde11">11</option>
                                            <option th:value="Waarde13">13</option>
                                            <option th:value="Waarde15">15</option>
                                            <option th:value="Waarde17">17</option>
                                            <option th:value="Waarde19">19</option>
                                            <option th:value="Waarde21">21</option>
                                        </select>
                                    </div>
                                </div>
                                <div class='col-sm-6'>
                                    <div class='form-group'>
                                        <label for="Number_of_Sequences">Number of Sequences:</label>
                                        <select id="Number_of_Sequences" name="Sequences" class="form-control">
                                            <option th:value="Waarde1">1</option>
                                            <option th:value="Waarde2">2</option>
                                            <option th:value="Waarde3">3</option>
                                            <option th:value="Waarde4">4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class='form-group'>
                                        <label for="amplitude_min">Amplitude min:</label>
                                        <input type="text" name="AmplitudeMin" id="amplitude_min" placeholder="Insert min amplitude here" class="form-control"/>
                                    </div>
                                </div>
                                <div class='col-sm-6'>
                                    <label for="amplitude_max">Amplitude max:</label>
                                    <input type="text" name="AmplitudeMax" placeholder="Insert max amplitude here" id="amplitude_max" class="form-control" />
                                </div>
                            </div>

                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class='form-group'>
                                        <label for="target_width_min">Target width min:</label>
                                        <input type="text" name="TargetWidthMin" placeholder="Insert min target width here" id="target_width_min" class="form-control" />
                                    </div>
                                </div>
                                <div class='col-sm-6'>
                                    <label for="target_width_max">Target width max:</label>
                                    <input type="text" name="TargetWidthMax" id="target_width_max" placeholder="Insert max target width here" class="form-control"/>
                                </div>
                            </div>


                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class='form-group'>
                                        <label for="color_main_circle">Color main circle:</label>
                                        <input type="color" name="ColorMainCircle" id="color_main_circle" class="form-control" />
                                    </div>
                                </div>
                                <div class='col-sm-6'>
                                    <label for="color_targets">Color targets:</label>
                                    <input type="color" name="ColorTargets" id="color_targets" class="form-control"/>
                                </div>
                            </div>


                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class='form-group'>
                                        <label for="color_next_target">Color next target:</label>
                                        <input type="color" name="ColorNextTarget" id="color_next_target" class="form-control" />
                                    </div>
                                </div>
                                <div class='col-sm-6'>
                                    <label for="color_previous_target">Color previous target:</label>
                                    <input type="color" name="ColorPreviousTarget" id="color_previous_target" class="form-control"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class='form-group'>
                                        <label for="error_threshold">Error Threshold:</label>
                                        <select id="error_threshold" class="form-control">
                                            <option th:value="Waarde10">10</option>
                                            <option th:value="Waarde20">20</option>
                                            <option th:value="Waarde30">30</option>
                                            <option th:value="Waarde40">40</option>
                                            <option th:value="Waarde50">50</option>
                                            <option th:value="Waarde60">60</option>
                                            <option th:value="Waarde70">70</option>
                                            <option th:value="Waarde80">80</option>
                                            <option th:value="Waarde90">90</option>
                                            <option th:value="Waarde100">100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class='col-sm-6'>
                                    <div class='form-group'>
                                        <label for="difficulty">Difficulty</label>
                                       <select id="difficulty" class="form-control">
                                            <option th:value="Waarde1">1</option>
                                            <option th:value="Waarde2">2</option>
                                            <option th:value="Waarde3">3</option>
                                            <option th:value="Waarde4">4</option>
                                        </select>
                                        <!--<input class="form-control" type="text" name="Difficulty" id="difficulty">

                                        </input> -->

                                    </div>
                                </div>
                            </div>

                         <!--  <div class="row">
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <label for="email">Send this test to:</label>
                                        <input class="form-control" type="text" name="email" placeholder="insert patient's email here" id="email" />
                                    </div>
                                </div>
                            </div> -->

                            <input type="submit" value="CreateTest"  class="btn btn-primary control-label"/>

                        </div>
                </fieldset>
            </form>
        </div>
    </div>


</body>
</html>