<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/DeviceTestApp.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:include="navbar :: page"></div>

    <div class="page-header" style="margin-top: 7%">
        <h1 id="containers" align="center">Create Test</h1>
    </div>

        <div class="col-lg-6 well bs-component col-md-offset-3" style="margin-top: 3%">
            <form th:action="@{/test/createTest}" action="/test/createTest" method="POST" commandName="createTestForm" >
                <fieldset>
                    <legend>Create new test</legend>
                    <table>
                        <tr>
                            <td><h4 class="col-lg-2 control-label">Participant Code:</h4></td>
                            <td class="form-control"><input type="text" name="Code" placeholder="participantCode"  /></td>
                        </tr>
                        <tr>
                            <td><h4 class="col-lg-2 control-label">Number of Targets:</h4></td>
                            <td  class="form-control"><input type="text" name="Targets" placeholder="aantalCirkels" /></td>  <!--nog omzetten naar dropdown-->
                        </tr>
                        <tr>
                            <td><h4 class="col-lg-2 control-label">Error Threshold:</h4></td>   <!--dropdown met waarden van 10 tot 100, met stappen van 10, dus 10,20,30,40..tot 100 %-->
                            <td  class="form-control"> <select>
                                <option th:value="Waarde10">10</option>
                                <option th:value="Waarde20">20</option>
                                <option th:value="Waarde30">30</option>
                                <option th:value="Waarde40">40</option>
                                <option th:value="Waarde50">50</option>
                                <option th:value="Waarde60">60</option>
                                <option th:value="Waarde70">70</option>
                                <option th:value="Waarde80">80</option>
                                <option th:value="Waarde90">90</option>
                                <option th:value="Waarde100">100</option>
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <td><h4 class="col-lg-2 control-label">Number of Sequences:</h4></td> <!--met standaard 4%-->
                            <td  class="form-control"><input type="text" name="Sequences" placeholder="1-4" /></td>
                        </tr>
                        <tr>
                            <td><h4 class="col-lg-2 control-label">Difficulty:</h4></td> <!--dropdown met waarden van 1 tot 4, dus 1, 2, 3 en 4-->

                            <td  class="form-control"><select>
                                <option th:value="Waarde1">1</option>
                                <option th:value="Waarde2">2</option>
                                <option th:value="Waarde3">3</option>
                                <option th:value="Waarde4">4</option>
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <td><h4 class="col-lg-2 control-label">Target Amplitude min:</h4></td> <!--zal mogelijk nog veranderen met waarden die afgeleid worden van den difficulty dropdown-->
                            <td  class="form-control"><input type="text" name="AmplitudeMin" placeholder="grootteCirkels" /></td>
                        </tr>
                        <tr>
                            <td><h4 class="col-lg-2 control-label">Target Amplitude max:</h4></td>
                            <td  class="form-control"><input type="text" name="AmplitudeMax" placeholder="grootteCirkels" /></td>
                        </tr>
                        <tr>
                            <td><h4 class="col-lg-2 control-label">Target width min:</h4></td>
                            <td  class="form-control"><input type="text" name="WidthMin" placeholder="grootteCirkels" /></td>
                        </tr>
                        <tr>
                            <td><h4 class="col-lg-2 control-label">Target width max:</h4></td>
                            <td  class="form-control"><input type="text" name="WidthMax" placeholder="grootteCirkels" /></td>
                        </tr>
                        <tr>
                            <td><h4 class="col-lg-2 control-label">Color main circle:</h4></td> <!--of colorpicker-->
                            <td  class="form-control"><input type="text" name="ColorMain" placeholder="Kleur" /></td>
                        </tr>
                        <tr>
                            <td><h4 class="col-lg-2 control-label">Color targets:</h4></td>
                            <td  class="form-control"><input type="text" name="ColorTargets" placeholder="Kleur" /></td>
                        </tr>
                        <tr>
                            <td><h4 class="col-lg-2 control-label">Color next target:</h4></td>
                            <td  class="form-control"><input type="text" name="ColorNext" placeholder="Kleur" /></td>
                        </tr>
                        <tr>
                            <td><h4 class="col-lg-2 control-label">Color previous target:</h4></td>
                            <td  class="form-control"><input type="text" name="ColorPrevious" placeholder="Kleur" /></td>
                        </tr>

                        <tr>

                            <td class="col-lg-10 col-lg-offset-2"><input type="submit" value="CreateTest"  class="btn btn-primary control-label"/></td>
                        </tr>

                    </table>
                </fieldset>
            </form>
        </div>
    </div>


</body>
</html>