<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/DeviceTestApp.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="dashboard.html"><img src="../images/navbarlogo.png" th:class="img-responsive" style="margin-top: 1%" /></a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-pills" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="dropdown-toggle btn btn-default" th:href="@{/researchers.html}">Researchers</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">Researchgroup <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a>Groep 1</a></li>
                            <li><a th:href="@{/researchGroup.html}">New ResearchGroup</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">Test <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/test/test}">Test 2</a></li>
                        </ul>
                    </li>
                    <li >
                        <a class="btn btn-default" data-toggle="dropdown" th:href="@{/report}">Report</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <div class="dropdown">
                        <li><a th:href="@{/logout}"  class="btn btn-default"> Log out</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <h2 style="margin-top: 5%">Researcher Groups</h2>
    <table class="table table-striped">
        <tr>
            <th>NAME</th>
            <th>#RESEARCHERS</th>
            <th>#TESTS &nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-primary btn-xs"  onclick="location.href='/dashboard?sort=firstname.html'" th:value="Sort" /></th>
            <th>CREATOR</th>
            <th>CREATEDDATE</th>
            <th>MODIFIEDDATE</th>
        </tr>
        <tr th:each="researcherGroup : ${allResearcherGroups}">
              <span  th:each="creatorData : ${researcherGroup.Creator}">
                    <td th:text="${researcherGroup.groupName}"/>
                    <td th:text="${researcherGroup.amountOfResearchers}"/>
                    <td th:text="${researcherGroup.amountOfTests}"/>
                    <td th:text="${creatorData.Email}"/>
                    <td th:text="${researcherGroup.createdDate}"/>
                    <td th:text="${researcherGroup.modifiedDate}"/>
              </span>
        </tr>
    </table>

    <p><br /><br /></p>


</div>
</body>

</html>