<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/DeviceTestApp.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>




<div class="container">
    <div th:include="navbar :: page"></div>

    <div class="page-header" style="margin-top: 7%">
        <h1 id="containers" align="center">Research Groups</h1>
    </div>

    <h2 style="margin-top: 3%">Groups</h2>

    <table class="table table-striped">
        <tr>
            <th>NAME</th>
            <th>#RESEARCHERS</th>
            <th>#TESTS &nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-primary btn-xs"  onclick="location.href='/dashboard?sort=firstname.html'" th:value="Sort" /></th>
            <th>CREATOR</th>
            <th>CREATEDDATE</th>
            <th>MODIFIEDDATE</th>
        </tr>
        <tr th:each="researcherGroup : ${allResearcherGroups}">
              <span  th:each="creatorData : ${researcherGroup.Creator}">
                    <td><a th:href="@{'/researchGroup?name=' + ${researcherGroup.groupName}}" th:text="${researcherGroup.groupName}"></a></td>
                    <td th:text="${researcherGroup.amountOfResearchers}"/>
                    <td th:text="${researcherGroup.amountOfTests}"/>
                    <td th:text="${creatorData.Email}"/>
                    <td th:text="${researcherGroup.createdDate}"/>
                    <td th:text="${researcherGroup.modifiedDate}"/>
              </span>
        </tr>
    </table>

    <p><br /><br /></p>

    </div>
</body>

</html>