<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/DeviceTestApp.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body onload="document.f.username.focus();">

<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a th:href="@{/}" href="dashboard.html"> Home </a></li>
            </ul>
        </div>
    </div>
    <div th:align="center">
        <img src="../images/LOGOBack.png" />
    </div>
    <div class="col-lg-4 well bs-component col-md-offset-4"  th:class="mijn_div">
        <p th:if="${param.logout}" class="alert">You have been logged out</p>
        <p th:if="${param.error}" class="text-danger">There was an error, please try again</p>
        <form name="form" th:action="@{/login}" action="/login" method="POST" class="form-group">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <fieldset>
                <legend>Login with Username and Password</legend>
                    <input type="email" name="username" placeholder="Email" class="form-control" style="margin-bottom: 1%"/>
                    <input type="password" name="password" placeholder="Password" class="form-control" style="margin-top: 1%"/>
            </fieldset>
            <fieldset>
                <input type="submit" id="login" value="Login" class="btn btn-primary" style="margin-top: 1%" />
                    <a th:href="@{/register}" class="btn btn-default" role="button" style="margin-top: 1%">New Researcher?</a>
            </fieldset>
        </form>
    </div>
</div>


</body>
</html>