<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Group 7</title>
</head>
<body>
<div th:include="this :: content"/>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a  th:href="@{/dashboard}" ><img src="../images/navbarlogo.png" th:class="img-responsive" style="margin-top: 1%" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse nav-pills" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="btn btn-default" th:href="@{/researchers}">Researchers</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">Researchgroup <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/bootstrap3/bootstrap3-activation}">Groep 1</a></li>
                        <li class="divider"></li>
                        <li><a th:href="@{/researchGroup}">New ResearchGroup</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">Test <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/test/test}">Test 2</a></li>
                        <li class="divider"></li>
                        <li><a th:href="@{/test/create}">Create test</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">Reports <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/report/report}">Report 1</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">Devices <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/devices/devices}">New Device</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <div class="dropdown">
                    <li> <a th:href="@{/logout}" class="btn btn-default"> Log out</a></li>
                </div>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>