<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Report</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/DeviceTestApp.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script th:src="@{/js/plotly-latest.min.js}"></script>

</head>
<body>

<div th:include="navbar :: page"></div>

<div class="container">
    <div class="page-header" style="margin-top: 7%">
        <h1 id="containers" align="center">Test report</h1>
    </div>

    <!--<h3 style="margin-top: 3%">Difficulty</h3>

    <div class="progress" >
        <div class="progress-bar progress-bar-success active" style="width: 35%"></div>
        <div class="progress-bar progress-bar-warning active" style="width: 20%"></div>
        <div class="progress-bar progress-bar-danger active" style="width: 10%"></div>
    </div> -->



    <div style="margin-top: 2%" class="bs-component well col-lg-3">
        <fieldset>
            <legend>Test info</legend>
            <div class="form-group">
                <div>
                    <label class="col-md-8">Title:</label>
                    <div style="alignment: left">
                        <p class="text-primary">insert title here</p>
                    </div>
                </div>
                <div>
                    <label class="col-md-8">Number of Targets:</label>
                    <div style="alignment: left">
                        <p class="text-primary">4</p>
                    </div>
                </div>
                <div>
                    <label class="col-md-8">Error threshold:</label>
                    <div style="alignment: left">
                        <p class="text-primary">50%</p>
                    </div>
                </div>
                <div>
                    <label class="col-md-8">Minimal Amplitude:</label>
                    <div style="alignment: left">
                        <p class="text-primary">200</p>
                    </div>
                </div>
                <div>
                    <label class="col-md-8">Maximal Amplitude:</label>
                    <div style="alignment: left">
                        <p class="text-primary">350</p>
                    </div>
                </div>
                <div>
                    <label class="col-md-8">Min Target width:</label>
                    <div style="alignment: left">
                        <p class="text-primary">20</p>
                    </div>
                </div>
                <div>
                    <label class="col-md-8">Max Target width:</label>
                    <div style="alignment: left">
                        <p class="text-primary">35</p>
                    </div>
                </div>
                <div>
                    <label class="col-md-8">Color main circle:</label>
                    <div style="alignment: left">
                        <input type="color" name="ColorMain" placeholder="kleur" id="Color_main_circle" value="#ffffff" disabled="true" class="form-control"/>
                    </div>
                </div>
                <div>
                    <label class="col-md-8">Color targets:</label>
                    <div style="alignment: left">
                        <input type="color" name="ColorTargets" id="Color_targets" placeholder="kleur" value="#ff0000" disabled="true" class="form-control"/>
                    </div>
                </div>
                <div>
                    <label class="col-md-8">Color next target:</label>
                    <div style="alignment: left">
                        <input type="color" name="ColorNext" placeholder="kleur" id="Color_next_target" value="#006400" disabled="true" class="form-control"/>
                    </div>
                </div>
                <div>
                    <label class="col-md-8">Color clicked target:</label>
                    <div style="alignment: left">
                        <input type="color" name="ColorPrevious" id="Color_previous_target" placeholder="kleur" value="#ffff00" disabled="true" class="form-control"/>
                    </div>
                </div>
                <div>
                    <label class="col-md-8">Color missed target:</label>
                    <div style="alignment: left">
                        <input type="color" name="ColorMissed" id="color_missed_target" placeholder="kleur" value="#660000" disabled="true" class="form-control"/>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>


    <div class="col-lg-9 coll9padding">
        <h3>Average Results </h3>
        <fieldset class="bs-component well ">
            <label class="col-md-8">Number of testSubjects:</label>
            <h4 class="text-primary" >5</h4>

            <label class="col-md-8">Number of sequences:</label>
            <h4 class="text-primary" id="completedTestCount">4</h4>

            <div class="col-md-6 paddingleft">
                <h4 class="col-md-12">Mean movement behaviour:</h4>

                <div class="col-lg-10">
                        <span class="input-group-btn">
                            <h5 class="col-md-2" style="margin-left: 8%">AE=</h5>
                            <h5 class="text-primary col-md-8"> 375</h5>
                        </span>
                </div>

                <div class="col-lg-10">
                        <span class="input-group-btn">
                            <h5 class="col-lg-2" style="margin-left: 8%">WE=</h5>
                            <h5 class="text-primary col-lg-8">0</h5>
                        </span>
                </div>
                <div class="col-lg-10">

                        <span class="input-group-btn">
                            <h5 class="col-lg-2" style="margin-left: 8%">IDE=</h5>
                            <h5 class="text-primary col-lg-8">8</h5>
                        </span>
                </div>

                <div class="col-lg-10">
                         <span class="input-group-btn">
                            <h5 class="col-lg-2" style="margin-left: 8%">ERRORS=</h5>
                            <h5 class="text-primary col-lg-2" style="margin-left: 10%">25%</h5>
                        </span>
                </div>

                <h4 class="col-md-6">Device:</h4>
                <div class="col-lg-10">
                        <span class="input-group-btn">
                            <h5 class="col-md-2" style="margin-left: 8%">Type of device:</h5>
                            <h5 class="text-primary col-md-2" style="margin-left: 20%">Test device</h5>
                        </span>
                </div>

                <div class="col-lg-10">
                        <span class="input-group-btn">
                            <h5 class="col-lg-2" style="margin-left: 8%">Build number:</h5>
                            <h5 class="text-primary col-lg-2" style="margin-left: 20%">Build number</h5>
                        </span>
                </div>

            </div>


            <div class="col-md-6">
                <h4 class="col-md-8">Mean performance:</h4>

                <div class="col-lg-10">
                        <span class="input-group-btn">
                            <h5 class="col-md-2" style="margin-left: 8%">MT=</h5>
                            <h5 class="text-primary col-lg-8">0</h5>
                        </span>
                </div>
                <div class="col-lg-10">

                        <span class="input-group-btn">
                            <h5 class="col-md-2" style="margin-left: 8%">ER=</h5>
                            <h5 class="text-primary col-lg-8">0</h5>
                        </span>
                </div>

                <div class="col-lg-10">
                         <span class="input-group-btn">
                            <h5 class="col-md-2" style="margin-left: 8%">TP=</h5>
                            <h5 class="text-primary col-lg-8">0</h5>
                        </span>
                </div>

                <div style="margin-top: 20%" class="col-lg-10">
                         <span class="input-group-btn">
                            <label for="Info">Info</label>
                           <textarea class="form-control" rows="3" id="Info" data-emoji_font="true" style="font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol', Symbola, EmojiSymbols !important;"></textarea>
                        </span>
                </div>
            </div>


            <h4 class="col-md-8">Difficulty:</h4>
            <div class="col-md-12">
                        <div id="boxplotDifficulty" height="650"></div>

                        <script>
                            var boxplotDifficulty = {
                                x: [1,7,10,13],
                                type: 'box',
                                name: 'Difficulty'
                            };

                            var data = [boxplotDifficulty];
                            var layout = {
                                title: 'Horizontal Box Plot'
                            }

                            Plotly.newPlot('boxplotDifficulty', data,layout);
                        </script>
            </div>
        </fieldset>
    </div>

    <div class="col-lg-9 coll9padding" id="user_details_test">
        <h3>Results per testsubject </h3>
        <fieldset class="bs-component well ">
            <!-- insert boxplot throughput here-->

            <div class="col-md-6 paddingleft">
                <h4 class="col-md-12">Mean movement behaviour of participant:</h4>

                <div class="col-lg-10">
                        <span class="input-group-btn">
                            <h5 class="col-md-2" style="margin-left: 8%">AE=</h5>
                            <h5 class="text-primary col-md-8"> 375</h5>
                        </span>
                </div>

                <div class="col-lg-10">
                        <span class="input-group-btn">
                            <h5 class="col-lg-2" style="margin-left: 8%">WE=</h5>
                            <h5 class="text-primary col-lg-8">0</h5>
                        </span>
                </div>
                <div class="col-lg-10">

                        <span class="input-group-btn">
                            <h5 class="col-lg-2" style="margin-left: 8%">IDE=</h5>
                            <h5 class="text-primary col-lg-8">8</h5>
                        </span>
                </div>

                <div class="col-lg-10">
                         <span class="input-group-btn">
                            <h5 class="col-lg-2" style="margin-left: 8%">ERRORS=</h5>
                            <h5 class="text-primary col-lg-2" style="margin-left: 10%">20%</h5>
                        </span>
                </div>
            </div>


            <div class="col-md-6">
                <h4 class="col-md-8">Mean performance of participant:</h4>

                <div class="col-lg-10">
                        <span class="input-group-btn">
                            <h5 class="col-md-2" style="margin-left: 8%">MT=</h5>
                            <h5 class="text-primary col-lg-8">0</h5>
                        </span>
                </div>
                <div class="col-lg-10">

                        <span class="input-group-btn">
                            <h5 class="col-md-2" style="margin-left: 8%">ER=</h5>
                            <h5 class="text-primary col-lg-8">0</h5>
                        </span>
                </div>

                <div class="col-lg-10">
                         <span class="input-group-btn">
                            <h5 class="col-md-2" style="margin-left: 8%">TP=</h5>
                            <h5 class="text-primary col-lg-8">0</h5>
                        </span>
                </div>
            </div>

            <div class="col-md-6 paddingleft">
                <h4 class="col-md-12">TP:</h4>

            </div>
        </fieldset>
    </div>



</div>
</body>
</html>