<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Report</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/DeviceTestApp.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div th:include="navbar :: page"></div>

<div class="container">
    <div class="page-header" style="margin-top: 7%">
        <h1 id="containers" align="center">Report 1</h1>
    </div>

    <h2 style="margin-top: 3%">Difficulty</h2>

    <div class="progress" >
        <div class="progress-bar progress-bar-success active" style="width: 35%"></div>
        <div class="progress-bar progress-bar-warning active" style="width: 20%"></div>
        <div class="progress-bar progress-bar-danger active" style="width: 10%"></div>
    </div>

    <h2 style="margin-top: 3%">Overal report</h2>

    <div class="bs-component well">
        jhh
    </div>


</div>
</body>
</html>