<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:form="http://www.w3.org/1999/html">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/DeviceTestApp.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        h2 {
            text-decoration: underline;
        }
    </style>
</head>
<body>


<div class="container">

    <div th:include="navbar :: page"></div>

    <div class="page-header" style="margin-top: 7%">
        <h1 id="containers" align="center">Research Group </h1>
        <h1  th:text="${groupName}"/>
    </div>

    <h2 style="margin-top: 3%">Tests</h2>


    <table class="table">
        <tr class="well bs-component">
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>CREATEDDATE</th>
            <th>Open Test</th>
            <th>Report</th>
        </tr>
        <tr> </tr>
        <tr th:each="test : ${Tests}">
                    <td  th:text="${test.title}"/>
                    <td th:text="${test.createdDate}"/>
                    <td th:text="${test.modifiedDate}"/>
                <td>
                    <a th:href="@{|/test/${test.id}|}" class="btn btn-info btn-sm">Open Test</a>
                </td>
            <td>
                <a th:href="@{|/report/${test.id}|}" class="btn btn-info btn-sm">view Report</a>
            </td>
        </tr>
    </table>


    <p>
        <a th:href="@{/test/create}" class="btn btn-default" role="button">Add Test</a>
    </p>

    <h2>Researchers</h2>
    <table class="table table-striped">
        <tr>
            <th>EMAIL</th>
            <th>    </th>
        </tr>
        <tr th:each="researcher : ${Researchers}">
            <form th:action="@{/deleteResearcher}" method="post" commandName="deleteForm">
                    <td><input  th:value="${researcher.email}"  name="email" readonly="readonly"/></td>
                    <td><input  class="btn btn-default" type="submit" value="Delete"/></td>
            </form>
        </tr>

    </table>


    <h2>New Researcher</h2>




    <form  style="display: inline-block" th:action="@{/addResearcher}" action="/addResearcher" method="POST" commandName="researcherForm" >
        <div class="form-group">
            <label for="email" >Select Email:</label>
                <div class=" col-md-6 input-group">
                    <span class="input-group-btn">
                     <select  class="form-control" type="email" name="email">
                        <option th:each="researchers:${allResearchers}"
                            th:value="${researchers.email}"
                            th:text="${researchers.email}">
                            researchers
                        </option>
                    </select>
                        </span>
                    <span class="input-group-btn">
                    <input style="margin-left:2%" type="submit" value="Add Researcher" class="btn btn-primary control-label"/>
                        </span>
                </div>
        </div>
        <p th:text="${ResearcherExists}" class="text-danger"></p>
    </form>

    <h2>Group Name</h2>

<form th:action="@{/saveGroup}" action="/saveGroup" method="POST" commandName="saveGroupForm">
    <label for="groupname">Name:</label>
    <div class=" col-md-6 input-group">
        <span class="input-group-btn">
                <input th:if="!${groupName}" class="form-control" type="text" name="groupName" value="" placeholder="groupName" th:value="${groupName}" />
                <input th:if="${groupName}"  readonly="readonly" class="form-control" type="text" name="groupName" value="" placeholder="groupName" th:value="${groupName}" />
        </span>
        <span class="input-group-btn">
                <input type="submit" class="btn btn-primary control-label" value="Save Group" style="margin-left:3%"/>
        </span>
    </div>
    <p th:text="${Error}" class="text-danger"></p>
</form>

    <div th:if="${groupName}">
        <button class="btn btn-default" th:action="@{/deleteGroup}" action="/deleteGroup" onclick="location.href='/deleteGroup'">Delete Group</button>
    </div>

</div>
</body>

</html>