<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" th:href="@{../css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{../../css/bootstrap.css}"/>
    <meta charset="UTF-8"/>
    <title>app</title>
    <script th:src="@{/js/react.js}"></script>
    <script th:src="@{/js/react-with-addons.js}"></script>
    <script th:src="@{/js/react-dom.js}"></script>
    <!--<script th:src="@{/js/test.js}"></script>-->
    <script th:src="@{/js/require.js}"></script>
    <script>
        require.config({
            baseUrl: "/../js"
        });

        require( ["test"], function(test) {
            /*...*/
        });
    </script>
</head>
<body>

<div class="container">
    <div class="col-lg-6  col-md-offset-3">
        <div th:class="page-header">
            <h1>Good luck!!</h1>
        </div>
    </div>

  <!--  <form th:action="@{/test/rapport}" action="/test/rapport" method="POST" commandName="resultForm" id="testResultForm">
        <input type="hidden" name="trials" id="trial"  value=""/>
        <input type="hidden" name="A" id="a"  value=""/>
        <input type="hidden" name="W" id="w"  value=""/>
        <input type="hidden" name="Ae" id="ae"  value=""/>
        <input type="hidden" name="We" id="we"  value=""/>
        <input type="hidden" name="IDe" id="ide"  value=""/>
        <input type="hidden" name="error" id="error"  value=""/>
        <input type="hidden" name="MT" id="mt"  value=""/>
        <input type="hidden" name="ER" id="er"  value=""/>
        <input type="hidden" name="TP" id="tp"  value=""/>
    </form> -->

    <div id="canvas_for_test" align="center" />

    <div th:each="thisTest : ${TestObj}" >
        <form id="paramForm" name="paramForm">
        <input type="hidden" th:value="${thisTest.targets}" id="aantalTargets"/>
      <!--  <input type="hidden" th:value="${thisTest.testSequences.}" id="amplitude" />
        <input type="hidden" th:value="${thisTest.testSequences.getTargetWidth()}" id="targetwidth" /> -->
        <input type="hidden" th:value="${thisTest.errorThreshold}" id="errorThreshold"/>
        <input type="hidden" th:value="${thisTest.colorMain}" id="colorMain"/>
        <input type="hidden" th:value="${thisTest.colorTargets}" id="colorTargets"/>
        <input type="hidden" th:value="${thisTest.colorNext}" id="colorNext"/>
        <input type="hidden" th:value="${thisTest.colorPrevious}" id="colorClicked"/>
        <input type="hidden" th:value="${thisTest.colorMissed}" id="colorMissed"/>
        <input type="hidden" th:value="${thisTest.testSequences}" id ="lijstSequencesMax" />
            <script>
                var lijstSequentiesAlsString = document.getElementById('lijstSequencesMax').value;
                // komt binnen als string, niet als array en moet terug omgezet worden naar een array om het aantal elementen te kunnen tellen
                var lijstSequentiesAlsArray = lijstSequentiesAlsString.split(", ");
                var aantalSequenties = lijstSequentiesAlsArray.length;
                // alert(aantalSequenties); // werkt
                var inputAantalSequenties = document.createElement('input');
                inputAantalSequenties.type = 'hidden';
                inputAantalSequenties.value = aantalSequenties;
                inputAantalSequenties.id = 'aantalSequences';           // id van inputfield dat je kan aanspreken
                var theForm = document.forms['paramForm'];
                theForm.appendChild(inputAantalSequenties);
            </script>

            <input type="hidden" th:value="${TestObj.testSequences[0].id}" id="eersteTestSequentieId" />

            <input th:each="TestSequence,i : ${TestObj.testSequences}" type="text" th:value="*{TestObj.testSequences[__${i.index}__].targetAmplitudes}" th:id="'Amplitude_'+ ${TestObj.testSequences[__${i.index}__].id}" />

            <script>
                var sequentieNummer = localStorage.getItem("sequentieNummer");
               //alert(sequentieNummer);
                var inputVeldTePakken;
                if(sequentieNummer != null) {
                    inputVeldTePakken = parseInt(document.getElementById('eersteTestSequentieId').value) + parseInt(sequentieNummer) - 1;
                } else {
                    inputVeldTePakken = parseInt(document.getElementById('eersteTestSequentieId').value);
                }
                //alert(document.getElementById('eersteTestSequentieId').value);
                //alert(sequentieNummer);
                //alert(inputVeldTePakken);
                //var inputVeldTePakken = sequentieNummer - 1;        // want sequentienummer begint bij 1 te tellen en de amplitudes beginnen bij 0
                var amplitude = document.getElementById('Amplitude_' + inputVeldTePakken).value;
                var amplitudeInputVeld = document.createElement('input');
                amplitudeInputVeld.type = 'hidden';
                amplitudeInputVeld.value = amplitude;
                amplitudeInputVeld.id = 'amplitudeCirkelTePakken';      // dit id in test.js inlezen
                var theForm = document.forms['paramForm'];
                theForm.appendChild(amplitudeInputVeld);
                //alert(amplitude);
            </script>

            <input th:each="TestSequence,j : ${TestObj.testSequences}" type="hidden" th:value="*{TestObj.testSequences[__${j.index}__].targetWidth}" th:id="'Width_'+ ${TestObj.testSequences[__${j.index}__].id}" />

            <script>
                var sequentieNummer = localStorage.getItem("sequentieNummer");
                //alert(sequentieNummer);
                var inputVeldTePakken;
                if(sequentieNummer != null) {
                    inputVeldTePakken = parseInt(document.getElementById('eersteTestSequentieId').value) + parseInt(sequentieNummer) - 1;
                } else {
                    inputVeldTePakken = parseInt(document.getElementById('eersteTestSequentieId').value);
                }
                //var inputVeldTePakken = sequentieNummer - 1;        // want sequentienummer begint bij 1 te tellen en de widths beginnen bij 0
                var widthTarget = document.getElementById('Width_' + inputVeldTePakken).value;
                var widthInputVeld = document.createElement('input');
                widthInputVeld.type = 'hidden';
                widthInputVeld.value = widthTarget;
                widthInputVeld.id = 'widthTargetsTePakken';      // dit id in test.js inlezen
                var theForm = document.forms['paramForm'];
                theForm.appendChild(widthInputVeld);
            </script>
        </form>
    </div>

    <form th:action="@{/test/rapport}" action="/test/rapport" method="POST" commandName="resultForm" id="testResultForm" name="testResultForm">

    </form>



</div>
</body>



</html>