<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" th:href="@{../css/bootstrap.css}"/>
    <meta charset="UTF-8"/>
    <title>app</title>
    <script th:src="@{/js/react.js}"></script>
    <script th:src="@{/js/react-with-addons.js}"></script>
    <script th:src="@{/js/react-dom.js}"></script>
    <!--<script th:src="@{/js/test.js}"></script>-->
    <script th:src="@{/js/require.js}"></script>
    <script>
        require.config({
            baseUrl: "/../js"
        });

        require( ["test"], function(test) {
            /*...*/
        });
    </script>
</head>
<body>
<div id="canvas_for_test" align="center">
    <!--<script type="text/jsx"></script>-->
    <!--  Test
    //  <canvas id="myCanvas" style="border:1px thick" width="500" height="500"></canvas> -->
</div>



</body>
</html>