<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
   <!-- <script /> -->
   <!-- <link rel="stylesheet" type="text/css" th:href="@{recources/static/css/bootswatch.css}" href="../static/css/bootswatch.css" media="all"> -->
    <title>Test</title>
</head>
<body>
test 123
<div id="canvas_for_test" align="center">

    test
   <!-- <script type="text/jsx"></script> -->
    <!--  Test
    //  <canvas id="myCanvas" style="border:1px thick" width="500" height="500"></canvas> -->
</div>
</body>
</html>