<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Created test</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/DeviceTestApp.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="navbar :: page"></div>

<div class="container">
    <div class="page-header" style="margin-top: 7%">
        <h1 id="containers" align="center">Created Test</h1>
    </div>

    <h2 style="margin-top: 3%">Parameters</h2>
    <h2 style="margin-top: 3%">Head Researchers</h2>
    <table class="table table-striped">
        <tr>
            <th>CODE</th>
            <th>Targets</th>
            <th>Sequences</th>
            <th>AmplitudeMin</th>
            <th>AmplitudeMax</th>
            <th>WidthMin</th>
            <th>WidthMax</th>
            <th>ColorMain</th>
            <th>ColorTargets</th>
            <th>ColorNext</th>
            <th>ColorPrevious</th>
        </tr>
        <tr th:each="test : ${Joel}">
                    <td th:text="${test.Code}"/>
                    <td th:text="${test.Targets}"/>
                    <td th:text="${test.Sequences}"/>
                    <td th:text="${test.AmplitudeMin}"/>
                    <td th:text="${test.AmplitudeMax}"/>
                    <td th:text="${test.WidthMin}"/>
                    <td th:text="${test.WidthMax}"/>
                    <td th:text="${test.ColorMain}"/>
                    <td th:text="${test.ColorTargets}"/>
                    <td th:text="${test.ColorNext}"/>
                    <td th:text="${test.ColorPrevious}"/>

        </tr>
    </table>



</div>
</body>
</html>